// Font
$mainFont                : 'Open Sans', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #959595;
$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$lgDesktopWidth          : 1500px;
$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$default-color           : #ffffff;
$primary-color           : #615f7d;
$success-color           : #82ca9c;
$danger-color            : #f5989d;
$warning-color           : #fed330;
$light-color             : #f1f1f1;
$purple-color            : #bd8cbf;
$text-focus              : #c90b2a;

// Neutral Color
$neutral-primary         : #222626;
$neutral-regular         : #606266;
$neutral-secondary       : #C5C5C5;
$neutral-placeholder     : #ECECEC;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;

// Text
