.header {
  padding-bottom: .85em;
  font-size: rem(35);
  font-weight: 300;
  line-height: rem(24);
  color: $neutral-primary;

  &--small {
    font-size: rem(30);
  }

  &--big {
    font-size: rem(60);
    line-height: rem(63);
  }

  &--big-bottom {
    padding-bottom: 1.85em;
  }

  &--white {
    color: $white;
  }
}