.icon {
  fill: $primary;
  
  &--heart {
    position: relative;
    top: rem(10);
    width: rem(25);
    height: rem(25);
    fill: $white;
  }
  
  &--arrow {
    width: rem(15);
    height: rem(15);
    margin-left: rem(10);
    fill: $white;
    // animation: left-right .8s ease-in-out infinite;
  }

  @keyframes left-right {
    0%,
    100% { transform: translate(0, 0) }
    50% { transform: translate(rem(8), 0) }
  }
}